# Node/Vite
node_modules/
dist/

# Env/keys
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Coverage/build caches
coverage/
.cache/
.tmp/
